/* ------------------------------- Estilo del Footer ------------------------------- */
footer{
    grid-area:footer;
    margin: 0px 1vw;
    div{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
}

.footer_derechos{
    padding: 0px 15px;
    margin: 0px;
    font-size: 13px;
    font-weight: 200;
    color: #a3a3a3;
}

.footer_media_icon{
    height: 30px;
    margin:0px;
}
