/* ------------------------------- Estilo del nav ---------------------------- */

header{
    grid-area:header;
    top: 0px;
    margin: 0px $separacion;
    div{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
}